/* Form */
@mixin form-field {
  width: 100%;
  padding: 0 14px;
  background-color: $dark-color;
  font-weight: 400;
  color: $soft-color;
  border: none;
  outline: none;

  &::placeholder {
    color: $soft-color;
  }
}

/* Background */ 
@mixin background ($url) {
  background: url($url) no-repeat;
  background-size: cover;
}

/* Button */ 
@mixin button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  &:-moz-focus-inner {
    border: 0;
  }

  &:focus,
  &:active {
    outline: none;
  }
}

/* Headers */
@mixin header-common ($fontSize: 28px, $fontWeight: 900) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  font-style: normal;
  font-stretch: normal;
}

@mixin h1 {
  @include header-common(49px, 900);
  text-transform: uppercase;
}

@mixin h2 {
  @include header-common(28px, 900);

  @include breakpoint (lg) {
    font-size: fluidSizeVw(70, 1440);
  }

  @include breakpoint (lg_mid) {
    font-size: 70px;
  }

  @include breakpoint (xl) {
    font-size: 94px;
  }
}

@mixin h3 {
  @include header-common(18px, 600);

  @include breakpoint (lg) {
    font-size: 24px;
  }
  @include breakpoint (xl) {
    font-size: 34px;
  }
}

/* Content text */
@mixin txt-common ($fontSize: 14px) {
  font-size: $fontSize;
  font-style: normal;
  font-weight: normal;
}

@mixin txt-lg {
  @include txt-common(18px);

  // Media
  @include breakpoint (lg) {
    font-size: 30px;
  }
  @include breakpoint (xl) {
    font-size: 40px;
  }
}

@mixin txt-md {
  @include txt-common(14px);

  // Media
  @include breakpoint (lg) {
    font-size: 16px;
  }
  @include breakpoint (xl) {
    font-size: 22px;
  }
}

@mixin txt-sm {
  @include txt-common(12px);

  // Media
  @include breakpoint (lg) {
    font-size: 18px;
  }
  @include breakpoint (xl) {
    font-size: 22px;
  }
}

/* Marker */
@mixin square-marker ($bg-color: $blue) {
  &::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 5px;
    left: -17px;
    background-color: $bg-color;
  }

  @include breakpoint (lg) {
    &::before {
      width: 9px;
      height: 9px;
      top: 7px;
      left: -23px;
    }
  }
} 

@mixin primary-caption-small {
  @include breakpoint (lg) {
    .work-layout__header {
      .caption-primary {
        font-size:   fluidSizeVw(70, 1440);
        line-height: fluidSizeVw(85, 1440);
      }
    }
  }

  @include breakpoint (lg_mid) {
    .work-layout__header {
      .caption-primary {
        font-size:   70px;
        line-height: 85px;
      }
    }
  }
}





