/* Colors */
$white: #fff;
$black: #000;
$gray: #E7E9EC;
$light-gray: #fcfcfc;
$dark-gray: #B8BFC6;
$blue: #00C2FF;
$light-blue:#00C3FF;
$dark-blue: #082B51;
$red: #DD1212;
$dark-red: #BE1E1E;

/* Theme */
$theme-dark-main-color: #152A41;

// Form
$dark-color: #314458;
$soft-color: #D6DADE;

//our-work
$red: #DD1212;

//work
$portfolio-background:  linear-gradient(0deg, #082B51, #082B51),
                        linear-gradient(0deg, #213853, #213853), #061E39;

//portfolio background start section
$portfolio-start-section-background: linear-gradient(180deg, rgba(8, 43, 81, 0.4) 0%,
                                    #082B51 102.02%);





