
/*--------------------------------------*\
  #Contact us section
\*--------------------------------------*/

.contact-us {
  position: relative;
  background-size:       cover;
  background-repeat: no-repeat;

  .learning-page &,
  .spp-page &,
  .powernapp-page &,
  .negina-page &,
  .bodyshops-page & {
    height: auto;
    padding-top: 25px;
    background: $theme-dark-main-color;
    background-blend-mode:       color;

    .caption-primary {
      margin-top: 0;
    }
  }

  .caption-primary {
    margin-bottom:                  fluidSizeVh(20, 568);
    margin-bottom: calc(var(--vh, 1vh) * #{vh(20, 568)});
  }

  .company-info {
    display: none;
  }

  .review-links-container {
    display: none;
  }

  @include breakpoint (lg) {
    .learning-page &,
    .spp-page &,
    .powernapp-page &,
    .negina-page &,
    .bodyshops-page & {
      height: fluidSizeVw(900, 1440);
      min-height:              770px;
      max-height:              900px;
      padding-top: 75px;
      background-blend-mode: initial;

      .review-links-container {
        width:                   auto;
        height: fluidSizeVw(90, 1440);
        max-height:              90px;
        position: absolute;
        bottom:          0;
        left:          50%;
        transform: translateX(-50%);
      }
    }

    .caption-primary {
      margin-bottom: fluidSizeVh(120, 900);
    }

    .company-info {
      display: block;
      margin-bottom: 45px;
    }

    .review-links-container {
      display: flex;
    }
  }

  @include breakpoint (xl) {
    .learning-page &,
    .spp-page &,
    .powernapp-page &,
    .negina-page &,
    .bodyshops-page & {
      max-height: 1080px;
    }
  }
}

.contact-us-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @include breakpoint (lg) {
    flex-direction: row;
    padding-left: fluidSizeVw(180, 1440);

    & > * {
      width: 50%;
    }
  }
}

.contact-form {
  @include breakpoint (lg) {
    width: fluidSizeVw(509, 1440);
    margin-right: fluidSizeVw(92, 1440);
  }
}

.contact-form__item {
  margin-bottom:                  fluidSizeVh(20, 568);
  margin-bottom: calc(var(--vh, 1vh) * #{vh(20, 568)});

  &.contact-form__item-with-error {
    margin-bottom: 0;
  }


  @include breakpoint (lg) {
    margin-bottom: 20px;
  }

  @include breakpoint (xl) {
    margin-bottom: 30px;
  }
}

.contact-form__item-error {
  height:                  fluidSizeVh(20, 568);
  height: calc(var(--vh, 1vh) * #{vh(20, 568)});
  font-size:   12px;
  line-height: 15px;
  color: $dark-red;

  @include breakpoint (lg) {
    height: 20px;
  }

  @include breakpoint (xl) {
    height: 30px;
  }
}

.contact-form__input,
.contact-form__textarea {
  font-size: 14px;

  @include breakpoint (lg) {
    font-size: fluidSizeVw(16, 1440);
  }

  @include breakpoint (lg_mid) {
    font-size: 16px;
  }

  @include breakpoint (xl) {
    font-size: 22px;
  }
}

.contact-form__input {
  @include form-field();
  height:                  fluidSizeVh(44, 568);
  height: calc(var(--vh, 1vh) * #{vh(44, 568)});

  @include breakpoint (lg) {
    height: fluidSizeVw(50, 1440);
    max-height: 50px;
  }

  @include breakpoint (xl) {
    height: 64px;
  }
}

.contact-form__textarea {
  @include form-field();
  display: block;
  height:                  fluidSizeVh(100, 568);
  height: calc(var(--vh, 1vh) * #{vh(100, 568)});
  padding: 12px;
  resize: none;

  @include breakpoint (lg) {
    height: 140px;
  }

  @include breakpoint (xl) {
    height: 144px;
  }
}

.form-footer {
  display: flex;
  flex-direction: column;
  padding-top: 6px;

  @include breakpoint (lg) {
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
  }

  @include breakpoint (xl) {
    padding-top: 20px;
  }
}

.contact-footer {
  display: none;

  .review-links-container {
    width: auto;
  }

  @include breakpoint (lg) {
    height: 90px;
    display: flex;
    align-items:            center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left:   0;
    right:  0;
    padding: 0 40px;
    background: transparentize($dark-blue, 0.9);
  }

  @include breakpoint (xl) {
    height: 110px;
  }
}

.contact-us__navigation {
  @include breakpoint (lg) {
    height: fluidSizeVw(90, 1440);
    max-height:              90px;
    display: flex;
    justify-content: space-between;
    align-items:            center;
    position: absolute;
    bottom: 0;
    left:   0;
    right:  0;
  }
}





/*--------------------------------------*\
  #Projects links
\*--------------------------------------*/

.link-to-project {
  width:  100%;
  height: 50px;
  justify-content: center;
  font-size:   20px;
  line-height: 24px;
  font-weight: bold;

  &:hover {
    color: $white;
    background-color: $blue;

    path {
      stroke: $white!important;
    }
  }

  @include breakpoint (lg) {
    width: fluidSizeVw(430, 1440);
    max-width:              430px;
    height:                  100%;
    font-size:   fluidSizeVw(24, 1440);
    line-height:                  32px;
  }

  @include breakpoint (lg_mid) {
    font-size: 26px;
  }
}

.link-to-project--prev {
  flex-direction: row-reverse;

  svg {
    margin-right: 15px;
    transform: rotate(-180deg);
  }

  @include breakpoint (lg) {
    svg {
      margin-right: 24px;
    }
  }
}

.link-to-project--next {
  svg {
    margin-left: 15px;
  }

  @include breakpoint (lg) {
    svg {
      margin-left: 24px;
    }
  }
}





/*--------------------------------------*\
  #Message
\*--------------------------------------*/

.message {
  position: absolute;
  top: 50%;
  left:  0;
  right: 0;
  display: flex;
  flex-direction:  column;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
  transform: translateY(-50%);

  @include breakpoint (lg) {
    position: static;
    width: fluidSizeVw(420, 1440);
    margin-right: fluidSizeVw(150, 1440);
    padding: 0;
    font-size:   fluidSizeVw(24, 1440);
    line-height: fluidSizeVw(29, 1440);
    font-weight:  500;
    transform: none;
  }

  @include breakpoint (lg_mid) {
    font-size:   24px;
    line-height: 29px;
  }
}

.message__icon {
  margin-bottom: 25px;

  @include breakpoint (lg) {
    margin-bottom: 40px;
  }

}

.message__text {
  margin-bottom: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: $blue;

  @include breakpoint (lg) {
    margin-bottom: fluidSizeVw(30, 1440);
    font-size:   fluidSizeVw(26, 1440);
    line-height: fluidSizeVw(32, 1440);
  }

  @include breakpoint (lg_mid) {
    margin-bottom: 30px;
    font-size:   26px;
    line-height: 32px;
  }
}

.message__btn {
  padding: 0;
  background: transparent;
  border:  none;
  outline: none;
  color: $blue;
  cursor: pointer;
}





/*--------------------------------------*\
  #Button submit
\*--------------------------------------*/

.btn-submit {
  width:      100%;
  height:     54px;
  display: flex;
  align-items:     center;
  justify-content: center;
  margin-bottom:                  fluidSizeVw(18, 568);
  margin-bottom: calc(var(--vh, 1vh) * #{vh(18, 568)});
  font-size:           26px;
  letter-spacing:    0.05em;
  font-weight:         bold;
  text-transform: uppercase;
  color: $white;
  background-color: $theme-dark-main-color;
  outline:           none;
  border: 2px solid $blue;
  cursor: pointer;
  transition: background-color 0.4s ease;

  &:hover {
    background-color: $blue;
  }

  &:disabled {
    background-color: $blue;
    opacity: 0.65;
  }

  @include breakpoint (lg) {
    height: fluidSizeVw(60, 1440);
    margin-bottom: 0;
    font-size: fluidSizeVw(26, 1440);
  }

  @include breakpoint (lg_mid) {
    height: 60px;
    font-size: 26px;
  }

  @include breakpoint (xl) {
    max-width: 330px;
    height:     80px;
    font-size: 36px;
  }
}





/*--------------------------------------*\
  #Email info
\*--------------------------------------*/

.email-info {
  font-size: 16px;
  text-align: center;
  color: $gray;

  @include breakpoint (lg) {
    font-size: fluidSizeVw(16, 1440);
    padding: 0 fluidSizeVw(20, 1440);
  }

  @include breakpoint (lg_mid) {
    font-size: 16px;
    padding: 0 20px;
  }

  @include breakpoint (xl) {
    font-size: 22px;
  }
}





/*--------------------------------------*\
  #Copyright
\*--------------------------------------*/

.copyright {

  .contact-us & {
    display: none;
  }

  @include breakpoint (lg) {
    .contact-us & {
      height: fluidSizeVw(90, 1440);
      display: flex;
      align-items:       center;
      justify-content: flex-end;
      position: absolute;
      bottom: 0;
      left:   0;
      right:  0;
      padding: 0 fluidSizeVw(40, 1440);
    }
  }

  @include breakpoint (lg_mid) {
    height: 90px;
    padding: 0 40px;
  }

  @include breakpoint (xl) {
    .contact-us & {
      height: 110px;
      padding: 0 55px;
    }
  }
}




/*-------------------------------------*\
#portfolio page
\*-------------------------------------*/
.webp{
  .lingua-page-redesign,
  .spp-page-redesign,
  .bodyshops-page-redesign,
  .negina-page-redesign,
  .powernapp-page-redesign {
    .contact-us {
      @include breakpoint(lg) {
        background-image: url('/backgrounds/contact-background-lg.webp')!important;
        background-size: cover!important;
      }
    }
  }
}

.no-webp{
  .lingua-page-redesign,
  .spp-page-redesign,
  .bodyshops-page-redesign,
  .negina-page-redesign,
  .powernapp-page-redesign {
    .contact-us {
      @include breakpoint(lg) {
        background-image: url('/backgrounds/contact-background-lg.jpg')!important;
        background-size: cover!important;
      }
    }
  }
}

.lingua-page-redesign,
.spp-page-redesign,
.bodyshops-page-redesign,
.negina-page-redesign,
.powernapp-page-redesign {
  .contact-us {
    background: $portfolio-background!important;
    padding-top: 40px;
    height: 100%;
    min-height: 720px;

    @include breakpoint(lg) {
      min-height: 780px;
      max-height: 980px;
    }

    @include breakpoint(lg_mid) {
      min-height: 860px;
    }

    @include breakpoint(xl) {
      min-height: 980px;
      max-height: 1240px;
    }

    .caption-primary {
      color: transparentize($white, 0.6);
      margin: 0 0 40px;
      margin-bottom: 40px!important;

      @include breakpoint(lg)     { font-size: 60px }
      @include breakpoint(lg_mid) { font-size: 70px }
      @include breakpoint(xl)     { font-size: 94px }

      &::before {
        border-color: transparentize($white, 0.6);
        width: 7.8vw;

        @include breakpoint(lg)     { width: 160px }
        @include breakpoint(lg_mid) { width: 220px }
        @include breakpoint(xl)     { width: 260px }
      }
    }

    .review-links-container {
      display: none;

      @include breakpoint(lg) {
        display: block;
        display: flex;
        justify-content: center;
        position: absolute;
        max-width: auto;
        bottom: 15px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }

  .start-redesign{
    .background {
      z-index: -1 !important;
    }
  }

  .contact-form__input,
  .contact-form__textarea {
    background-color: transparentize($white, 0.88);
  }

  .btn-submit {
    background-color: transparentize($white, 0.88);
    &:hover {
      background-color: $light-blue!important;
    }
  }

  .contact-us__navigation {
    display: flex;
    flex-direction: column;
    padding: 0;

    @include breakpoint(lg) {
      height: 70px;
    }

    @include breakpoint(xl) {
      height: 90px;
    }

    .contact-us__navigation-button {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 10px;

      @include breakpoint(lg) {
        margin-top: 0;
      }
    }

    &::before {
      @include breakpoint(lg) {
        content: '';
        height: 70px;
        position: absolute;
        z-index: 0;
        bottom: 0;
        left:   0;
        right:  0;
        background: transparentize(#082B51, 0.88);
        mix-blend-mode: multiply;
      }

      @include breakpoint(xl) {
        height: 90px;
      }
    }

    .link-app {
      font-style:        normal;
      font-weight:          600;
      font-size: 24px!important;
      line-height:         29px;
      text-transform: uppercase;

      @include breakpoint(lg) {
        width: 29.86111vw;
        max-width:  430px;
        height:  70px;
        font-size: 1.66667vw !important;
        line-height:               32px;
        z-index: 201;
        cursor: pointer;
      }

      @include breakpoint(lg_mid) { max-width: 600px }
      @include breakpoint(xl) {
        max-width: 600px;
        height:     90px;
      }

      .link-app__svg-icon {
        padding-bottom: .4rem;
        @include breakpoint(lg) { padding-bottom: 0 }
      }
    }
  }

  .footer-container {
    display:          flex;
    flex-direction: column;
    align-items:  flex-end;
    margin-top: 5px;

    .footer-description {
      font-weight: bold;
      font-size:   50px;
      text-transform: uppercase;
      color: transparent;
      -webkit-text-stroke: 1px $light-blue;
      text-stroke:         1px $light-blue;
    }
  }
}
