.copyright {
  font-size: 14px;
  color: $dark-gray;

  @include breakpoint (lg) {
    font-size: fluidSizeVw(16, 1440);
  }

  @include breakpoint (lg_mid) {
    font-size: 16px;
  }

  @include breakpoint (xl) {
    font-size: 20px;
  }
}
