
/*------------------------------------*\
  #Feedback section
\*------------------------------------*/

.feedback {
  position: relative;
  padding: 40px 0 84px 0;
  background-color: $light-gray;
  overflow: hidden;

  .caption-primary {
    margin-top: 0;
    line-height: 34px;
    color: $dark-blue;

    &::before {
      border-color: $dark-blue;
    }
  }

  .carousel-buttons__container {
    position: absolute;
    bottom: 25px;
    right:  20px;
  }

  @include breakpoint (lg) {
    height: fluidSizeVw(890, 1440);
    max-height: 890px;
    padding-top: 75px;

    .caption-primary {
      line-height: 85px;
    }
  }

  @include breakpoint (xl) {
    max-height: 940px;
  }
}

.feedback__carousel {
  width: fluidSizeVw(278, 320);
  margin: 39px auto 0 auto;
}

.carousel__image {
  margin: 0 auto;
}

.feedback__image {

  @include breakpoint (lg) {
    position: absolute;
    box-shadow: 0px 20px 50px rgba(70, 70, 70, 0.05);
    transition: all .35s ease-in-out;

    &:hover {
      transform: scale(1.1);
      z-index: 100;
    }
  }
}

.feedback__image-1 {
  z-index: 100;

  @include breakpoint (lg) {
    width:  fluidSizeVw(615, 1440);
    height: fluidSizeVw(313, 1440);
    top: fluidSizeVw(370, 1440);
    left:   fluidSizeVw(230, 1440);
  }

  @include breakpoint (lg_mid) {
    top: 370px;
  }

}

.feedback__image-2 {

  @include breakpoint (lg) {
    width:  fluidSizeVw(585, 1440);
    height: fluidSizeVw(305, 1440);
    right:   fluidSizeVw(230, 1440);
    top: fluidSizeVw(275, 1440);
  }

  @include breakpoint (lg_mid) {
    top: 275px;
  }
  
}