
/*------------------------------------*\
  #Goal section
\*------------------------------------*/
.goal-redesign {
  padding: 20px 0;
  position: relative;
  color: transparentize($white, 0.4);
  background:  $portfolio-background;

  @include breakpoint (lg) {
    padding-top: 75px;
  }

  .caption-primary {
    color: transparentize($white, 0.6);
    width: 100%!important;

    @include breakpoint(lg)     {
      font-size: 60px;
    }

    @include breakpoint(lg_mid) { font-size: 70px }
    @include breakpoint(xl)     { font-size: 94px }

    &::before {
      border-color: transparentize($white, 0.6);
      width: 7.8vw;

      @include breakpoint(lg)     { width: 160px }
      @include breakpoint(lg_mid) { width: 220px }
      @include breakpoint(xl)     { width: 260px }
    }
  }

  .goal__content {
    display:          flex;
    flex-direction: column;
    align-items:    center;

    @include breakpoint (lg) { margin-bottom: 0 }
  }

  .goal__content-text {
    margin:             25px 0 10px;
    padding: 0 fluidSizeVw(26, 320);
    font-size:   16px;
    line-height: 20px;
    font-weight:  600;
    color: $white;
    text-align: center;

    @include breakpoint (lg) {
      width:      fluidSizeVw(920, 1400);
      margin:                    0 0 2vh;
      margin-top:  fluidSizeVw(80, 1440);
      padding:                         0;
      font-size:   fluidSizeVw(38, 1440);
      line-height: fluidSizeVw(48, 1440);
    }

    @include breakpoint (lg_mid) {
      width: 940px;
      font-size:   38px;
      line-height: 48px;
    }

    @include breakpoint(xl) {
      margin-bottom: 0;
    }
  }

  .goal__description-last--line {
    color: $blue;
  }

  .goal__media {
    position: relative;
    text-align: center;

    img {
      width: fluidSizeVw(245, 320);
      max-width: 1050px;
      height: fluidSizeVw(195, 320);
      max-height: 820px;
      margin: 0 auto;
    }

    @include breakpoint (lg) {
      margin-top: 0;
    }

    @include breakpoint (xl) {
      margin-top: 50px;
    }
  }

  .goal-video-container {
    position: absolute;
    top: 9%;
    left:    50%;
    width: fluidSizeVw(210, 320);
    max-width:             830px;
    height: fluidSizeVw(115, 320);
    max-height:             500px;
    padding: 0!important;
    transform: translateX(-50%);

    video {
      max-width: 100%;
      height:    100%;
    }
  }

  .video-react-control-bar,
  .video-react-big-play-button {
    display: none;
  }

  .goal__video {
    max-width: 100%;
  }
}



//--------------------------------\\
//this setting current for spp page
//--------------------------------\\
// .spp-page-redesign {
//   .caption-primary {
//     width: 100%;
//   }

//   .goal__content-text {
//     width: 75.71429vw;
//     margin: 5.55556vw 0 4vh;
//     padding:              0;
//     font-size:   16px;
//     line-height: 20px;

//     @include breakpoint(lg) {
//       width: 65.71429vw;
//       font-weight:                   600;
//       font-size:   fluidSizeVw(35, 1440);
//       line-height: fluidSizeVw(43, 1440);
//     }

//     @include breakpoint(lg_mid) {
//       font-size: 35px;
//       line-height: 43px;
//     }
//   }

//   .goal__media {
//     @include breakpoint(lg) {
//       width: 70.71429vw;
//       font-size:   2.63889vw;
//       line-height: 3.33333vw;
//       display: flex;
//       justify-content: center!important;
//       margin: 0 auto;
//     }
//   }

//   .goal-redesign .goal__media img {
//     width: fluidSizeVw(282, 320);
//     height: fluidSizeVw(117.5, 320);
//     max-height: 220px;
//     max-width: 550px;
//     margin: 0 auto;

//     @include breakpoint(lg) {
//       width: fluidSizeVw(720, 1440);
//       height: fluidSizeVw(320, 1440);
//       max-height: 100%;
//       max-width: 100%;
//       margin: 0 auto;
//     }
//   }
// }



//--------------------------------\\
//this setting current for spp page
//--------------------------------\\
.spp-page-redesign,
.bodyshops-page-redesign,
.powernapp-page-redesign {
  .goal-redesign {
    .goal__media {
      @include breakpoint(lg) {
        display: flex;
        justify-content: center!important;
      }

      picture {
        display: flex;
        justify-content: center;
        text-align: center;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(8, 43, 81, 0.7) 0%, rgba(8, 43, 81, 0.5) 100%);

          @include breakpoint(xl) {
            margin-top: 40px;
          }
        }
      }
    }

    .goal__content-text {
      width: 75.71429vw;
      margin: 5.55556vw 0 4vh;
      padding:              0;
      font-size:   16px;
      line-height: 20px;

      @include breakpoint(lg) {
        width: 70.71429vw;
        font-weight:                   600;
        font-size:   fluidSizeVw(35, 1440);
        line-height: fluidSizeVw(43, 1440);
      }

      @include breakpoint(lg_mid) {
        font-size: 35px;
        line-height: 43px;
      }

      @include breakpoint(xl) {
        margin-bottom: 0;
        max-width: 1120px;
      }
    }
    .goal__media img {
      width: fluidSizeVw(282, 320);
      height: 100%;
      max-height: 100%;
      max-width: 320px;
      margin: 0 auto;

      @include breakpoint(lg) {
        width: fluidSizeVw(720, 1440);
        max-width: 100%;
      }

      @include breakpoint(lg_mid) {
        width: auto;
        height: auto;
        max-width: 860px;
        max-height: 560px;
      }

      @include breakpoint(xl) {
        margin-top: 40px;
        max-width: 1120px;
      }
    }
  }
}

