
/*------------------------------------*\
  #Feedback section
\*------------------------------------*/
.feedback-lingua {
  position: relative;
  padding: 25px 0 0 0;
  background: $portfolio-background;
  overflow: hidden;

  @include breakpoint (lg) {
    height: fluidSizeVw(720, 1440);
    padding-top: 50px;
    padding-bottom: 25px;
  }

  @include breakpoint (xl) {
    height: fluidSizeVw(1000, 1920);
  }

  .caption-primary {
    margin-top: 0;
    line-height: 34px;
    color: transparentize($white, 0.6);;

    &::before {
      border-color: transparentize($white, 0.6);
    }
  }

  //carousel arrow for mibile version
  .carousel-buttons__container {
    position: absolute;
    z-index: 201;
    top:     25px;
    right:   15px;

    .carousel__button {
      background-color: none;
      color: $white;
      width: 30px;

      &:hover {
        background: none;
      }
    }

    .carousel__button-arrow {
      border-color: $white;
      width: 12px;
      height: 12px;
      border: 3px solid $white;
      border-left: none;
      border-bottom: none;

      &:hover {
        border-color: $light-blue!important;
      }
    }
  }

  .feedback__carousel {
    width: 100%;
    margin-top: 3vh;
    //did max size for mobile version
    .carousel__image {
      max-height: 250px;
      margin: 0;
    }

    .carousel__slide {
      margin-right: 1rem;
    }

    .carousel__slider-tray {
      width: 160%!important;
    }
  }
    .carousel__image {
      height: auto;
    }

  .feedback__image {
    @include breakpoint (lg) {
      position: absolute;
      cursor: pointer;
      box-shadow: 0px 20px 50px rgba(70, 70, 70, 0.05);
      transition: all .35s ease-in-out;

      &:hover {
        transform: scale(1.1);
        z-index: 100;
      }
    }
  }

  .feedback__image-1 {
    @include breakpoint (lg) {
      z-index: 200;
      width:  fluidSizeVw(600, 1440);
      height: fluidSizeVw(305, 1440);
      left:   fluidSizeVw(120, 1440);
      top:    fluidSizeVw(260, 1440);
      transform: rotate(-9.46deg);
    }

    @include breakpoint (lg_mid) {
      top: fluidSizeVw(275, 1440);
    }

    @include breakpoint (xl) {
      top: fluidSizeVw(330, 1920);
    }
  }

  .feedback__image-2 {
    @include breakpoint (lg) {
      width:   fluidSizeVw(600, 1440);
      height:  fluidSizeVw(313, 1440);
      top:     fluidSizeVw(260, 1440);
      right:   fluidSizeVw(120, 1440);
      transform: rotate(10.18deg);

      &:hover  {
        z-index: 201;
      }
    }

    @include breakpoint (lg_mid) {
      top: fluidSizeVw(275, 1440);
    }

    @include breakpoint (xl) {
      top: fluidSizeVw(330, 1920);
    }
  }
}
