
/*------------------------------------*\
  #Start section
\*------------------------------------*/
// this common file for all page with redesign
// bottom file i set background

//main settings and setting for lingua page
.start-redesign {
  height:                      100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  background: linear-gradient(0deg, #082B51 -2.39%, rgba(8, 43, 81, 0.78) 17.23%, rgba(8, 43, 81, 0.5) 100%);
  transition: height 0.35s;
  padding-top:                      35vh;
  padding-top: calc(var(--vh, 1vh) * 35);

  @include breakpoint(lg) {
    padding-top:                      30vh;
    padding-top: calc(var(--vh, 1vh) * 30);
  }

  .main-title__container {
    display: flex;
    flex-direction: column;

    @include breakpoint(lg) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
  }

  .start__title--one,.start__title--two {
    font-weight: 800;
    font-size: 46px;
    line-height: 56px;
    text-align: center;
    text-transform: capitalize;
  }

  .start__title--two {
    -webkit-text-stroke: 1.5px $light-blue;
    text-stroke: 1.5px $light-blue;
    color: transparent;

    @include breakpoint(lg) {
      -webkit-text-stroke: 3px $light-blue;
      text-stroke: 3px $light-blue;
    }
  }

  .start__caption {
    text-shadow: 0px 10px 20px rgba(122, 122, 122, 0.25);
    @include breakpoint (lg) {
      margin: 17px 0;
      font-size:   100px;
      line-height: 122px;
    }

    @include breakpoint (lg_mid) {
      font-size:   120px;
      line-height: 122px;
    }

    @include breakpoint (xl) {
      margin: 20px 0;
      font-size:   150px;
      line-height: 146px;
    }
  }

  .sub-title__container {
    font-size:   16px;
    font-weight:  800;
    line-height: 20px;
    width: 280px;
    margin: 0 auto;
    margin-top: 3vh;
    margin-top: calc(var(--vh, 1vh) * 3);
    text-transform: uppercase;
    text-align: center;

    @include breakpoint(lg) {
      font-size:   37px;
      font-weight:  800;
      line-height: 45px;
      width: 700px;
      margin: 0 auto;
      margin-top: 3vh;
      margin-top: calc(var(--vh, 1vh) * 3);
      text-transform: uppercase;
      text-align: center;
    }

    @include breakpoint(lg_mid) {
      width: 800px;
      font-size:   44px;
      line-height: 55px;
    }

    @include breakpoint(xl) {
      width: 1100px;
      font-size:   56px;
      line-height: 68px;
    }
  }
}


//---------------------------------------//
  //settings for spp page
//---------------------------------------//
.spp-page-redesign {
  .start-redesign {
    @include breakpoint(lg) {
      padding-top:                      27vh!important;
      padding-top: calc(var(--vh, 1vh) * 27)!important;
    }
  }

  .spp-title__container {
    @include breakpoint(lg) {
      flex-direction: column;
      display: block;
      max-width: 1350px;
      margin: 0 auto;
    }

    @include breakpoint(xl) {
      max-width: 1380px;
    }
  }

  .spp__title--one {
    font-size: 42px;
    text-transform: none;
    @include breakpoint(lg) {
      text-align: left!important;
      margin-left: 100px;
      font-size:   100px;
      line-height: 122px;
    }

    @include breakpoint (lg_mid) {
      font-size:   100px;
      line-height: 122px;
    }

    @include breakpoint (xl) {
      margin: 20px 0;
      font-size: 120px;
    }
  }

  .spp__title--two {
    font-size: 42px;
    text-transform: none;
    @include breakpoint(lg) {
      text-align: right!important;
      margin-right: 100px;
      font-size:   100px;
    }

    @include breakpoint (lg_mid) {
      font-size:   100px;
    }

    @include breakpoint (xl) {
      margin: 20px 0;
      font-size: 120px;
    }
  }

  .spp__sub-title {
    margin-top: 30px;
    
    @include breakpoint(lg) {
      margin-top: 40px;
      font-size: 37px;
    }
  }

  .spp-sub-title__container {
    @include breakpoint(lg) {
      width: 920px;
      line-height: 55px;
    }

    @include breakpoint(xl) {
      width: 1200px;
    }
  }
}

//this i set a background for start section
//lingua backgrond
.webp {
  .lingua-page-redesign {
    .start-redesign {
      .background {
        background-position: center;
        background-image: url('/backgrounds/portfolio/linguaschools/start-background-sm.webp');
        @include breakpoint(lg) {
          background-image: url('/backgrounds/portfolio/linguaschools/lingua-start-background-lg.webp');
        }
      }
    }
  }
}

.no-webp {
  .lingua-page-redesign {
    .start-redesign {
      .background {
        background-position: center;
        background-image: url('/backgrounds/portfolio/linguaschools/start-background-sm.jpg');
        @include breakpoint(lg) {
          background-image: url('/backgrounds/portfolio/linguaschools/lingua-start-background-lg.jpg');
        }
      }
    }
  }
}

//spp background
.webp {
  .spp-page-redesign {
    .start-redesign {
      .background {
        background-position: center;
        background-image: url('/backgrounds/portfolio/spp/start-small.webp');
        @include breakpoint(lg) {
          background-image: url('/backgrounds/portfolio/spp/start-large.webp');
        }
      }
    }
  }
}

.no-webp {
  .spp-page-redesign {
    .start-redesign {
      .background {
        background-position: center;
        background-image: url('/backgrounds/portfolio/linguaschools/start-background-sm.jpg');
        @include breakpoint(lg) {
          background-image: url('/backgrounds/portfolio/linguaschools/lingua-start-background-lg.jpg');
        }
      }
    }
  }
}
