

/*------------------------------------*\
  #Work layout section
\*------------------------------------*/

.work-layout-redesign {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  background:  $portfolio-background;

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;

    .subtitle {
      display: flex;
      justify-content: flex-end;
      font-size:   20px;
      line-height: 24px;
      margin-right: 20px;
      width: 220px!important;
      text-transform: uppercase;
      -webkit-text-stroke: .5px $light-blue;
      text-stroke:         .5px $light-blue;
      color: transparent;
    }
  }

  .caption-primary {
    padding-left: 20px;
    margin:          0;
    width: 75%;

    @include breakpoint (lg) {
      padding-left: 8vw;
      text-align:  left;
    }

    @include breakpoint (lg_mid) {
      font-size:    96px;
      line-height: 117px;
    }

    &::before {
      display: none!important;
    }
  }
  
  .work-layout__content {
    display: flex;
    flex-direction: column-reverse;

    @include breakpoint (lg) {
      display: grid;
      grid-template-columns: 2.2fr 1fr;
      align-self: end;
      padding-top:    fluidSizeVw(70, 1440);
      margin-bottom:                   50px;
    }
  
    @include breakpoint (lg_mid) {
      padding-top:    45px;
    }
  }
  
  .work-layout__content-inner {
    display: flex;
    flex-direction: column;
    border: none!important;
  
    @include breakpoint (lg) {
      border-left:    none;
      border-bottom:  none;
      padding:           0;
    }
  }
  
  .work-layout__subtitle {
    display: block;
    margin-top:    10px;
    margin-left:   20px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size:   20px;
    line-height: 24px;
    text-transform: uppercase;
    color: $light-blue;
  
    @include breakpoint (lg) {
      display: block;
      margin-top: -12px;
      margin-bottom: 0;
      margin-left: 0;
      font-size:   fluidSizeVw(50, 1440);
      line-height: fluidSizeVw(61, 1440);
      font-weight:                   900;
      color: $light-blue;
      text-transform: uppercase;
    }
  
    @include breakpoint (lg_mid) {
      font-size:   50px;
      line-height: 61px;
      font-weight:  900;
    }
  }
  
  .work-layout__list {
    font-size:     12px;
    line-height:   15px;
    font-weight: normal;
    color: $white;
    padding: 10px 20px 0 20px;

    @include breakpoint (lg) {
      font-size:   15px;
      line-height: fluidSizeVw(24, 1440);
      box-shadow: none;
      padding:       0;
      padding-top: 25px;
      margin-bottom: 0;
    }
  
    li {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 0 30px 40px;
      font-size:   16px;
      line-height: 20px;

      @include breakpoint (lg) {
        font-size:   fluidSizeVw(20, 1440);
        line-height: fluidSizeVw(30, 1440);
        padding: 0;
        padding-right: 7vw;
        height: fluidSizeVw(120, 1440);
      }

      @include breakpoint (lg_mid) {
        height: fluidSizeVw(140, 1920);
      }

      &:not(:last-child) {
        margin-bottom: 0;
      }
  
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        left:     0;
        top:    8px;
        width:  20px;
        height:  3px;
        background-color: $light-blue;

        @include breakpoint(lg) {
          display: none;
          width:  fluidSizeVw(9, 1440);
          height: fluidSizeVw(9, 1440);
          top: fluidSizeVw(7, 1440);
        }
      }
    }
  
    @include breakpoint (lg) {
      li:not(:last-child) {
        border-bottom: 1px solid transparentize($white, 0.6);
      }
    }
  }
  
  .work-layout__image {
    display: block;

    @include breakpoint (lg) {
      width: fluidSizeVw(860, 1440);
      max-width: 65vw;
      margin: 0;
    }

    img {
      display: block;
    }
  }
}

.work-layout-redesign.work-layout--reversed {

  .caption-primary {
    margin-bottom: 15px;
  }

  @include breakpoint (lg) {

    .work-layout__content-inner  {
      grid-area: 1 / 1 / 1 / 1;
      border: 5px solid $dark-blue;
      border-right:            none;
      border-bottom:           none;
    }

    .work-layout__list {
      font-size:     12px;
      line-height:   15px;
      font-weight: normal;
      color: $white;
      margin-top: 40px;
      padding: 0;

      @include breakpoint (lg_mid) {
        font-size:   20px;
        line-height: 30px;
      }
    
      @include breakpoint (lg) {
    
        li {
          padding-left: 8vw;
          font-size:   fluidSizeVw(20, 1440);
          line-height: fluidSizeVw(30, 1440);
          box-shadow: none;
          margin-right: 8vw;
          padding-right: 0;
    
          &:not(:last-child) {
            margin-bottom: 0;
          }
    
          &::before {
            display: none;
            width:  fluidSizeVw(9, 1440);
            height: fluidSizeVw(9, 1440);
            top: fluidSizeVw(7, 1440);
          }
        }
      }
    }
  }
}

.work-layout-redesign.cms {
  .work-layout__subtitle {
    display: none;
    @include breakpoint(lg) {
      display: block;
    }
  }
  .caption-primary {
    width: 30%;
  }
}

.work-layout-redesign.rich-content {
  padding-top: 35px;
  .header__container {
    margin-bottom: 0;
  }
  .work-layout__content {
    @include breakpoint(lg) {
      margin-top: 25px;
    }
  }
}

/*------------------------------------*\
  #Work layout spp section
\*------------------------------------*/

.spp-page-redesign {
  .work-layout-redesign {
    overflow: hidden;

    @include breakpoint(lg) {
      overflow: hidden;
    }
  }

  .caption-primary {
    width: 85%;
    margin-bottom: 0!important;
  }

  .work-layout-redesign.work-layout--reversed {
    @include breakpoint(xl) {
      padding-bottom: 50px;
    }

    .work-layout__subtitle {
      margin-top:   18px;

      @include breakpoint(lg) {
        margin-left: 8vw;
        width: 150px;
      }
    }

    li {
      margin-right: 6vw;
    }

    .work-layout__image {
      margin-bottom: 10px;

      @include breakpoint(lg) {
        margin-left: 50px;
      }

      img {
        max-height: 820px;
      }
    }
    
    .work-layout__content {
      grid-template-columns: 1.5fr 1fr;
    }
  }
}