
/*------------------------------------*\
  #Our clients section
\*------------------------------------*/

.our-clients {
  background-repeat: no-repeat;
  background-size:       cover;
}

.our-clients-carousel {
  margin-top:                  fluidSizeVh(70, 568);
  margin-top: calc(var(--vh, 1vh) * #{vh(70, 568)});

  .carousel__slider {
    overflow: visible;
  }

  .carousel__slider-tray {
    padding: 0 fluidSizeVw(40, 320);
  }

  .carousel__inner-slide {
    position: relative!important;
  }
}

.our-clients__transition {
  transition: transform 0.45s ease-in-out;
}

.company-title {
  color: $blue;
  font-weight: 800;

  @include breakpoint (lg) {
    font-size: 16px;
  }
}

.project-name {
  font-weight: 800;

  @include breakpoint (lg) {
    font-weight: 700;
  }
}





/*------------------------------------*\
  #Map clients
\*------------------------------------*/

.map-client {
  position: relative!important;
  text-align: center;

  @include breakpoint (lg) {
    margin-top: 3vh;
  }

  @include breakpoint (xl) {
    margin-top: fluidSizeVh(150, 1080);
    margin-top: calc(var(--vh, 1vh) * #{vh(150, 1080)});
  }
}

.map-client__image {
  display: inline-block;
  width: 100%;
  height: fluidSizeVh(300, 568);
  height: calc(var(--vh, 1vh) * #{vh(300, 568)});

  @include breakpoint (lg) {
    width: fluidSizeVw(1180, 1440);
    height: fluidSizeVh(468, 700);
    height: calc(var(--vh, 1vh) * #{vh(468, 700)});
  }
}





/*------------------------------------*\
  #Client's box layout
\*------------------------------------*/

.client-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size:        12px;
  font-weight:       500;
  letter-spacing: 0.02em;
  text-align: left;
}

.client-box__content {
  display: flex;
  flex-direction: column;
  opacity: 0;
  will-change: transform, opacity;
}

.client-box__line {
  width: 1px;
  height:                  fluidSizeVh(40, 700);
  height: calc(var(--vh, 1vh) * #{vh(40, 700)});
  margin-top: 9px;
  background-color: $blue;
  transform-origin: bottom;
  opacity: 0;
  will-change: transform;

  @include breakpoint (xl) {
    height:                  fluidSizeVh(55, 1080);
    height: calc(var(--vh, 1vh) * #{vh(55, 1080)});
  }
}

.wollongong,
.melbourne,
.melbourne-2,
.brisbane,
.brisbane-2,
.newcastle,
.chicago,
.lewiston,
.rockville,
.rehovot {
  align-items: flex-end;

  .client-box__content {
    text-align: right;
  }
}

.chicago,
.lewiston,
.rockville,
.rehovot {
  @include breakpoint (lg) {
    align-items: flex-start;

    .client-box__content {
      text-align: left;
    }
  }
}





/*------------------------------------*\
  #Client's box animations
\*------------------------------------*/

.client-box__line,
.client-box__content {
  animation-play-state:           paused;
  animation-timing-function: ease-in-out;
  animation-fill-mode:              both;

  .active &,
  .carousel__slide--visible & {
    animation-play-state: running;
  }    
}

.client-box__line {
  .animated & {
    animation-name: scaleInLineMobile;
    animation-duration: 3.2s;
    animation-delay:    0.3s;
  }

  .novosibirsk & {
    animation-name: scaleInLineNsk;
    animation-duration: 0.4s;
    animation-delay:    0.3s;
  }
}

.client-box__content {
  .animated & {
    animation-name: fadeInDownContentMobile;
    animation-duration: 2.8s;
    animation-delay:    0.7s;
  }

  .novosibirsk & {
    animation-name: fadeInDownContentNsk;
    animation-duration: 0.4s;
    animation-delay:    0.7s;
  }
}





/*------------------------------------*\
  #Novosibirsk
\*------------------------------------*/

.novosibirsk {
  left: fluidSizeVw(39, 320);
  bottom:                  fluidSizeVh(245, 568);
  bottom: calc(var(--vh, 1vh) * #{vh(245, 568)});

  .client-box__line {
    height:                  fluidSizeVh(40, 700);
    height: calc(var(--vh, 1vh) * #{vh(40, 700)});
    opacity: 1;
  }

  .client-box__content {
    flex-direction: column-reverse;
    opacity: 1;
  }

  @include breakpoint (lg) {
    top:      auto;
    left: 67.291vw;
    bottom:                  fluidSizeVh(377, 700);
    bottom: calc(var(--vh, 1vh) * #{vh(377, 700)});

    .client-box__line {
      height:                  fluidSizeVh(126, 700);
      height: calc(var(--vh, 1vh) * #{vh(126, 700)});
    }
  }

  @include breakpoint (xl) {
    .client-box__line {
      height:                  fluidSizeVh(169, 1080);
      height: calc(var(--vh, 1vh) * #{vh(169, 1080)});
    }
  }
}





/*------------------------------------*\
  #Europe
\*------------------------------------*/

.london {
  bottom:                  fluidSizeVh(250, 568);
  bottom: calc(var(--vh, 1vh) * #{vh(250, 568)});
  left: fluidSizeVw(125, 320);

  a {
    color: $blue;
  }

  @include breakpoint (lg) {
    bottom:                  fluidSizeVh(387, 700);
    bottom: calc(var(--vh, 1vh) * #{vh(387, 700)});
    left: fluidSizeVw(690, 1440);
  }
}

.carpentras {
  bottom:                  fluidSizeVh(235, 568);
  bottom: calc(var(--vh, 1vh) * #{vh(235, 568)});
  left: fluidSizeVw(134, 320);

  @include breakpoint (lg) {
    bottom:                  fluidSizeVh(365, 700);
    bottom: calc(var(--vh, 1vh) * #{vh(365, 700)});
    left: fluidSizeVw(703, 1440);
  }
}

.lausanne {
  bottom:                  fluidSizeVh(240, 568);
  bottom: calc(var(--vh, 1vh) * #{vh(240, 568)});
  left: fluidSizeVw(150, 320);

  @include breakpoint (lg) {
    bottom:                  fluidSizeVh(373, 700);
    bottom: calc(var(--vh, 1vh) * #{vh(373, 700)});
    left: fluidSizeVw(724, 1440);
  }
}

.rehovot {
  bottom:                  fluidSizeVh(210, 568);
  bottom: calc(var(--vh, 1vh) * #{vh(210, 568)});
  right: fluidSizeVw(69, 320);

  @include breakpoint (lg) {
    bottom:                  fluidSizeVh(325, 700);
    bottom: calc(var(--vh, 1vh) * #{vh(325, 700)});
    left: fluidSizeVw(823, 1440);
    right: auto;
  }
}

.breda {
  bottom:                  fluidSizeVh(256, 568);
  bottom: calc(var(--vh, 1vh) * #{vh(256, 568)});
  left: fluidSizeVw(151, 320);

  @include breakpoint (lg) {
    bottom:                  fluidSizeVh(395, 700);
    bottom: calc(var(--vh, 1vh) * #{vh(395, 700)});
    left: fluidSizeVw(724, 1440);
  }
}

.barcelona {
  bottom:                  fluidSizeVh(225, 568);
  bottom: calc(var(--vh, 1vh) * #{vh(225, 568)});
  left: fluidSizeVw(123, 320);

  @include breakpoint (lg) {
    bottom: fluidSizeVh(348, 700);
    bottom: calc(var(--vh, 1vh) * #{vh(348, 700)});
    left: fluidSizeVw(688, 1440);
  }
}





/*------------------------------------*\
  #North America
\*------------------------------------*/

.chicago {
  bottom:                  fluidSizeVh(230, 568);
  bottom: calc(var(--vh, 1vh) * #{vh(230, 568)});
  right: fluidSizeVw(95, 320);

  @include breakpoint (lg) {
    bottom:                  fluidSizeVh(357, 700);
    bottom: calc(var(--vh, 1vh) * #{vh(357, 700)});
    left:                   fluidSizeVw(395, 1440);
    right:                                    auto;
  }
}

.san-diego,
.san-diego-2 {
  bottom:                  fluidSizeVh(170, 568);
  bottom: calc(var(--vh, 1vh) * #{vh(170, 568)});
  left: fluidSizeVw(128, 320);

  @include breakpoint (lg) {
    bottom:                  fluidSizeVh(260, 700);
    bottom: calc(var(--vh, 1vh) * #{vh(260, 700)});
    left: fluidSizeVw(302, 1440);
  }
}

.redwood {
  bottom:                  fluidSizeVh(172, 568);
  bottom: calc(var(--vh, 1vh) * #{vh(172, 568)});
  left: fluidSizeVw(115, 320);

  @include breakpoint (lg) {
    bottom:                  fluidSizeVh(265, 700);
    bottom: calc(var(--vh, 1vh) * #{vh(265, 700)});
    left: fluidSizeVw(285, 1440);
  }
}

.lewiston {
  bottom:                  fluidSizeVh(223, 568);
  bottom: calc(var(--vh, 1vh) * #{vh(223, 568)});
  right: fluidSizeVw(31, 320);
  
  @include breakpoint (lg) {
    bottom:                  fluidSizeVh(345, 700);
    bottom: calc(var(--vh, 1vh) * #{vh(345, 700)});
    left:                   fluidSizeVw(480, 1440);
    right:                                    auto;
  }
}

.rockville {
  bottom:                  fluidSizeVh(210, 568);
  bottom: calc(var(--vh, 1vh) * #{vh(210, 568)});
  right: fluidSizeVw(62, 320);

  @include breakpoint (lg) {
    bottom:                  fluidSizeVh(325, 700);
    bottom: calc(var(--vh, 1vh) * #{vh(325, 700)});
    left: fluidSizeVw(438, 1440);
    right:                                    auto;
  }
}





/*------------------------------------*\
  #Australia
\*------------------------------------*/

.wollongong {
  bottom:                  fluidSizeVh(40, 568);
  bottom: calc(var(--vh, 1vh) * #{vh(40, 568)});
  right: fluidSizeVw(4, 320);

  @include breakpoint (lg) {
    bottom:                  fluidSizeVh(58, 700);
    bottom: calc(var(--vh, 1vh) * #{vh(58, 700)});
    right: fluidSizeVw(137, 1440);
  }
} 

.melbourne,
.melbourne-2 {
  bottom:                  fluidSizeVh(28, 568);
  bottom: calc(var(--vh, 1vh) * #{vh(28, 568)});
  right: fluidSizeVw(24, 320);

  @include breakpoint (lg) {
    bottom:                  fluidSizeVh(40, 700);
    bottom: calc(var(--vh, 1vh) * #{vh(40, 700)});
    right: fluidSizeVw(162, 1440);
  }
} 

.brisbane,
.brisbane-2 {
  bottom:                  fluidSizeVh(50, 568);
  bottom: calc(var(--vh, 1vh) * #{vh(50, 568)});
  right: fluidSizeVw(10, 320);

  @include breakpoint (lg) {
    bottom:                  fluidSizeVh(75, 700);
    bottom: calc(var(--vh, 1vh) * #{vh(75, 700)});
    right: fluidSizeVw(143, 1440);
  }
}

.newcastle {
  bottom:                  fluidSizeVh(30, 568);
  bottom: calc(var(--vh, 1vh) * #{vh(30, 568)});
  right: fluidSizeVw(6, 320);

  @include breakpoint (lg) {
    bottom:                  fluidSizeVh(44, 700);
    bottom: calc(var(--vh, 1vh) * #{vh(44, 700)});
    right: fluidSizeVw(138, 1440);
  }
}





/*------------------------------------*\
  #Client's info on footer
\*------------------------------------*/

.our-clients__info {
  position: absolute;
  left:  0;
  right: 0;
  bottom:                  fluidSizeVh(35, 568);
  bottom: calc(var(--vh, 1vh) * #{vh(35, 568)});
  font-size:        14px;
  font-weight:      bold;
  letter-spacing: 0.02em;
  text-align:     center;

  &-number {
    font-size:   22px;
    font-weight: bold;
    color: $blue;
  }

  @include breakpoint (lg) {
    font-size: 25px;
    
    &-number {
      font-size: 34px;
    }
  }

  @media (min-width: 992px) and (min-height: 900px) {
    bottom:                  fluidSizeVh(92, 900);
    bottom: calc(var(--vh, 1vh) * #{vh(92, 900)});
  }

  @include breakpoint (xl) {
    bottom:                  fluidSizeVh(92, 900);
    bottom: calc(var(--vh, 1vh) * #{vh(92, 900)});
    font-size: 29px;
    
    &-number {
      font-size: 44px;
    }
  }
}
