
/*------------------------------------*\
  #Base  
\*------------------------------------*/

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





/*------------------------------------*\
  #Our clients  
\*------------------------------------*/

/* Line */
@keyframes scaleInLineMobile {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  12.5%, 87.5% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scaleInLineDesctop {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  0.6944%, 15.9722% {
    opacity: 1;
    transform: scale(1);
  }
  16.6666%, 100% {
    opacity: 0;
  }
}

@keyframes scaleInLineNsk {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scaleInFirstCityLine {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  12.5%, 87.5% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scaleInLineSecondCityLine {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  6.25%, 87.5% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scaleInLineThirdCityLine {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  4.1666%, 95.8333% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Content */
@keyframes fadeInDownContentMobile {
  0% {
    opacity: 0;
    transform: translate3d(0,-100%,0);
  }
  14.2857%, 85.7143% {
    opacity: 1;
    transform: translateZ(0);
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInDownContentDesctop {
  0% {
    opacity: 0;
    transform: translate3d(0,-100%,0);
  }
  0.6944%, 15.2777% {
    opacity: 1;
    transform: translateZ(0);
  }
  15.9722%, 100% {
    opacity: 0;
  }
}

@keyframes fadeInDownContentNsk {
  0% {
   opacity: 0;
   transform: translate3d(0,-100%,0);
  }
  100% {
   opacity: 1;
   transform: translateZ(0);
  }
}

@keyframes fadeInDownFirstCityContent {
  0% {
   opacity:0;
   transform:translate3d(0,-100%,0);
  }
  14.2857%, 85.7143% {
    opacity:1;
    transform:translateZ(0);
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInDownSecondCityContent {
  0% {
   opacity:0;
   transform:translate3d(0,-100%,0);
  }
  6.6666%,86.6666% {
    opacity:1;
   transform:translateZ(0);
  }
  100% {
   opacity:0;
  }
}

@keyframes fadeInDownThirdCityContent {
  0% {
    opacity:0;
    transform:translate3d(0,-100%,0);
  }
  4.3478%, 95.6521% {
    opacity:1;
    transform:translateZ(0);
  }
  100% {
    opacity: 0;
  }
}





/*------------------------------------*\
  #Snowflake 
\*------------------------------------*/

@keyframes snowflakeColorChange {
 0% {
  opacity: 0.2;
  transform: scale(0.7);
 }
 100% {
  opacity: 1;
  transform: scale(1);
 }
}






